# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# C extensions
*.so

# Django-specific
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env


# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# macOS and Windows files
.DS_Store
Thumbs.db
